<!DOCTYPE html>
<html>
<head>
	<title>Tratamiento de imágenes</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icon-camera.png" />

	<!--LINKS DE ESTILOS-->
	<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Oswald&family=Unica+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!--LINK DE VUE.JS-->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<!--LINKS DE CANVASJS-->
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>

	<header id="behavior_header" class="header">
		<div class="name_file">
			<p v-if="view_name">Archivo: <span>{{name_file}}</span></p>
			<button class="button_header" v-if="view_name" v-on:click="download_image">Descargar</button>
			<button class="button_header" v-if="view_name" v-on:click="close_image">Cerrar imagen</button>
		</div>

		<div class="logo">
			<p>Tratamiento de imágenes</p>
		</div>
	</header>

	<div id="behavior_main_load" class="main" v-if="view_icon_loadImage">
		
		<input id="file"
			class="input_upload"
			type="file"
			accept=".bmp, .png, .jpg, .jpeg"
			ref="ref_input_file"
			v-on:change="upload_image"
			>
		<label for="file"
			class="icon_uploadimage"
			></label>

	</div>


	<div id="behavior_main_image" class="main" v-if="view_main_images">
		
		<div class="left_panel">
			<div class="button_back" v-if="view_button_back" v-on:click="changeViewButtonBack">
				<button class="button">Deshacer acción</button>
			</div>
			<div class="category">
				<div class="category_name">
					<p>Operadores puntuales</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>PIEL</p>
							<button class="button" v-on:click="umbral_piel">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>MANCHA</p>
							<button class="button" v-on:click="mancha">Aplicar</button>
						</div>
					</li>
					
					<li class="operator">
						<div class="operation">
							<p>Binarizar</p>
							<button class="button" v-on:click="to_binary">Aplicar</button>
						</div>
						<div class="slider">
							<input id="umbral_bin"
								type="range"
								min="0" max="255" step="1"
								v-model:valueAsNumber="umbral_binarizado"
								>
							<label for="umbral_bin">{{umbral_binarizado}}</label>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Escarlar a grises</p>
							<button class="button" v-on:click="to_gray">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Negar</p>
							<button class="button" v-on:click="to_negative">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation operationFile">
							<p>Sumar</p>
							<input id="file_plus"
								type="file" 
								accept=".bmp, .png, .jpg, .jpeg"
								ref="ref_second_input_file"
								v-on:change="load_second_image">
							<label for="file_plus" class="button">{{button_message}}</label>
						</div>
						<div class="inputs" v-if="view_inputs">
							<div>
								<label for="x_plus">X</label>
								<input id="x_plus"
									type="number"
									class="input_number"
									value="0"
									step="1" 
									v-bind:min="x_min"
									v-bind:max="x_max"
									v-on:change="verify_number"
									v-model="x_plus_value">
								<label for="y_plus">Y</label>
								<input id="y_plus"
									type="number"
									class="input_number"
									value="0"
									step="1"
									v-bind:min="y_min"
									v-bind:max="y_max"
									v-on:change="verify_number"
									v-model="y_plus_value">
							</div>
							<button class="button" v-on:click="plus_images">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation operationFile">
							<p>Restar</p>
						</div>
						<div class="inputs" v-if="view_inputs">
							<div>
								<label for="x_subs">X</label>
								<input id="x_subs"
									type="number"
									class="input_number"
									value="0"
									step="1" 
									v-bind:min="x_min"
									v-bind:max="x_max"
									v-on:change="verify_number"
									v-model="x_subs_value">
								<label for="y_subs">Y</label>
								<input id="y_subs"
									type="number"
									class="input_number"
									value="0"
									step="1"
									v-bind:min="y_min"
									v-bind:max="y_max"
									v-on:change="verify_number"
									v-model="y_subs_value">
							</div>
							<button class="button" v-on:click="substract_images">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation operationFile">
							<p>AND</p>
						</div>
						<div class="inputs" v-if="view_inputs">
							<div>
								<label for="x_and">X</label>
								<input id="x_and"
									type="number"
									class="input_number"
									value="0"
									step="1" 
									v-bind:min="x_min"
									v-bind:max="x_max"
									v-on:change="verify_number"
									v-model="x_and_value">
								<label for="y_and">Y</label>
								<input id="y_and"
									type="number"
									class="input_number"
									value="0"
									step="1"
									v-bind:min="y_min"
									v-bind:max="y_max"
									v-on:change="verify_number"
									v-model="y_and_value">
							</div>
							<button class="button" v-on:click="and_I">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation operationFile">
							<p>OR</p>
						</div>
						<div class="inputs" v-if="view_inputs">
							<div>
								<label for="x_or">X</label>
								<input id="x_or"
									type="number"
									class="input_number"
									value="0"
									step="1" 
									v-bind:min="x_min"
									v-bind:max="x_max"
									v-on:change="verify_number"
									v-model="x_or_value">
								<label for="y_or">Y</label>
								<input id="y_or"
									type="number"
									class="input_number"
									value="0"
									step="1"
									v-bind:min="y_min"
									v-bind:max="y_max"
									v-on:change="verify_number"
									v-model="y_or_value">
							</div>
							<button class="button" v-on:click="or_images">Aplicar</button>
						</div>
					</li>
				</ul>
			</div>


			<div class="category">
				<div class="category_name">
					<p>Operadores de histograma</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>Desplazamiento</p>
						</div>
						<div class="inputs">
							<div>
								<label for="const_histogram">Constante</label>
								<input id="const_histogram"
									type="number"
									class="input_number"
									value="0"
									step="1"
									min="-255"
									max="255"
									v-model="const_value">
							</div>
							<button class="button" v-on:click="displace_histogram">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Expansión</p>
						</div>
						<div class="inputs">
							<div>
								<label for="exp_max">Max</label>
								<input id="exp_max"
									type="number"
									class="input_number"
									value="255"
									step="1"
									min="0"
									max="255"
									v-model="exp_max_value"
									v-on:change="verify_expand_numbers_histogram"
									disabled>
								<label for="exp_min">Min</label>
								<input id="exp_min"
									type="number"
									class="input_number"
									value="0"
									step="1"
									min="0" 
									max="255"
									v-model="exp_min_value"
									v-on:change="verify_expand_numbers_histogram"
									disabled>
							</div>
							<button class="button" v-on:click="expand_histogram">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Contracción</p>
						</div>
						<div class="inputs">
							<div>
								<label for="cont_max">Max</label>
								<input id="cont_max"
									type="number"
									class="input_number"
									value="255"
									step="1"
									min="0"
									max="255"
									v-model="cont_max_value"
									v-on:change="verify_contract_numbers_histogram">
								<label for="cont_min">Min</label>
								<input id="cont_min"
									type="number"
									class="input_number"
									value="0"
									step="1"
									min="0" 
									max="255"
									v-model="cont_min_value"
									v-on:change="verify_contract_numbers_histogram">
							</div>
							<button class="button" v-on:click="contract_histogram">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Ecualización Uniforme</p>
							<button class="button" v-on:click="uniform">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Ecualización Rayleigh</p>
						</div>
						<div class="inputs">
							<div>
								<label for="alpha_ray">alpha</label>
								<input id="alpha_ray"
									type="number"
									class="input_number"
									value="255"
									step="0.1"
									min="0"
									max="5"
									v-model="alpha_ray_value"
									v-on:change="verify_alpha_ray">
							</div>
							<button class="button" v-on:click="rayleigh">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Ecualización Hipercúbica</p>
							<button class="button" v-on:click="hypercubic">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Ecualización Logaritmo hiperbólica</p>
							<button class="button" v-on:click="log_hyperbolic">Aplicar</button>
						</div>
					</li>

				</ul>
			</div>


			<div class="category">
				<div class="category_name">
					<p>Filtros No lineales</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>Máximo</p>
							<button class="button" v-on:click="f_maximo">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Mínimo</p>
							<button class="button" v-on:click="f_minimo">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Mediana</p>
							<button class="button" v-on:click="f_mediana">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Moda</p>
							<button class="button" v-on:click="f_moda">Aplicar</button>
						</div>
					</li>

				</ul>
			</div>


			<div class="category">
				<div class="category_name">
					<p>Filtros Pasa Bajas</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>Promedio</p>
							<button class="button" v-on:click="mean">Aplicar</button>
						</div>
						<div class="slider">
							<input id="size_mask_mean"
								type="range"
								min="3" max="9" step="2"
								v-model:valueAsNumber="size_mask_mean_value"
								>
							<label for="size_mask_mean">{{size_mask_mean_value}}x{{size_mask_mean_value}}</label>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Promedio pesado</p>
						</div>
						<div class="inputs">
							<div>
								<label for="mean_hard">N</label>
								<input id="mean_hard"
									type="number"
									class="input_number"
									step="1"
									v-model="mean_hard_value">
							</div>
							<button class="button" v-on:click="mean_hard">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Gaussiano</p>
						</div>
						<div class="inputs">
							<div>
								<label for="desviacion">Desviación</label>
								<input id="desviacion"
									type="number"
									class="input_number"
									min="1"
									step="1"
									v-model="desviacion_value">
							</div>
							<button class="button" v-on:click="gauss">Aplicar</button>
						</div>
						<div class="slider">
							<input id="size_mask_gauss"
								type="range"
								min="3" max="9" step="2"
								v-model:valueAsNumber="size_mask_gauss_value"
								>
							<label for="size_mask_gauss">{{size_mask_gauss_value}}x{{size_mask_gauss_value}}</label>
						</div>
					</li>

				</ul>
			</div>

			<div class="category">
				<div class="category_name">
					<p>Filtros Pasa Altas</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>Sobel</p>
							<button class="button" v-on:click="sobel">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Prewitt</p>
							<button class="button" v-on:click="prewitt">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Robert</p>
							<button class="button" v-on:click="robert">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Laplaciano</p>
							<button class="button" v-on:click="laplace">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Laplaciano con signos invertidos</p>
							<button class="button" v-on:click="inverse_laplace">Aplicar</button>
						</div>
					</li>

				</ul>
			</div>

			<div class="category">
				<div class="category_name">
					<p>Filtros Morfologicos</p>
				</div>
				<ul class="category_list">

					<li class="operator">
						<div class="operation">
							<p>Dilatacion</p>
							<button class="button" v-on:click="dilatacion">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Erosion</p>
							<button class="button" v-on:click="erosion">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Apertura (E-D)</p>
							<button class="button" v-on:click="apertura">Aplicar</button>
						</div>
					</li>

					<li class="operator">
						<div class="operation">
							<p>Cierre (D-E)</p>
							<button class="button" v-on:click="cierre">Aplicar</button>
						</div>
					</li>

				</ul>
			</div>

		</div>

		<div class="images" ref="ref_main_images">
			<canvas ref="ref_canvas"></canvas>
			<div id="canvas_chart" class="histogram"></div>
		</div>
		
	</div>

	<script type="text/javascript" src="js/behavior.js"></script>
</body>
</html>